<!-- THIS PAGE WILL UTILIZE A PARTIAL VIEW (_CityWeather.cshtml) -->

@{
    ViewBag.Title = "Weather Application";

}
            
<div class="margin-top-200">
    @foreach(CityWeather city in ViewBag.Cities)
    {
        <partial name="_CityWeather" model="city"></partial>
    }
</div>